
@import url("../wp-content/themes/responsive/style.css");

body {
	background: #fff;
}

.buttonHolder{
	text-align: center;
}

table {
	table-layout: fixed;
}

th {
	font-weight:bold;
}

th, td {
	overflow: hidden;
    width: 10em;
}

.autowidth {
	overflow: hidden;
    width: auto;
}
